nav(hx-target="#content-container" class="p-5 bg-blue-300")
  a(href="/") Início
  a(href="/pagina1" hx-get="/pagina1" hx-push-url="true") Página 1
  a(href="/pagina2" hx-get="/pagina2") Página 2
  a(href="/formulario" hx-get="/formulario") Formulario