div(class='max-w-md mx-auto bg-white p-8 rounded-md shadow-md')
    h2(class='text-2xl font-semibold mb-4') Formulário

    form(id='meuFormulario' class='space-y-4' hx-post='/submitForm')
        div(class='mb-4')
            label(for='nome' class='block text-sm font-medium text-gray-600') Nome
            input(type='text' id='nome' name='nome' class='mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200')

        div(class='mb-4')
            label(for='telefone' class='block text-sm font-medium text-gray-600') Telefone
            input(type='text' id='telefone' name='telefone' class='mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200')

        button(type='submit' class='w-full px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-200') Enviar
