doctype html
html(lang="pt-br")
  head
    title Página Inicial
    meta(name='viewport' content='width=device-width,initial-scale=1')
    script(src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js", defer)
    link(rel='stylesheet' href='/public/style.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css')
  body
    h1.text-3xl.m-1 Htmx + Pug + Tailwind
    include includes/nav

    div.m-5
      div#content-container(hx-trigger="load")

